<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Thiago Belem">

    <title>Shrtener</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <%= render ShrtenerWeb.SharedView, "google_analytics.html", assigns %>
  </head>

  <body>
    <section class="hero is-primary has-text-centered">
      <div class="hero-body">
        <div class="container">
          <h1 class="title"><%= link("Shrtener", to: "/") %></h1>
          <p class="subtitle">A <b>simple</b> URL shortener!</p>
        </div>
      </div>
    </section>

    <section class="section has-text-centered">
      <%= render ShrtenerWeb.SharedView, "flash_messages.html", assigns %>

      <%= render @view_module, @view_template, assigns %>
    </section>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
